---
layout: default
title: Blog
---
<h2 class="post-list-heading">{{ page.list_title | default: "Blog Posts" }}</h2>
{% assign postsByYear =
  site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
<h1>{{ year.name }}</h1>
  <ul class="post-list">
    {% for post in year.items %}
      <li>
        {{ post.date }}
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        {{ post.excerpt }}<br />
        <em>
        category: {{ post.category }},
        tags: {{ post.tags }}
        </em>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
